{{ 'section-service-blocks.css' | asset_url | stylesheet_tag }}

<div class="service-blocks {% if section.settings.full_width == false %}page-width{% endif %} color-{{ section.settings.color_scheme }}">
  <div class="service-blocks__container">
    {% for block in section.blocks %}
      <div class="service-block" {{ block.shopify_attributes }}>
        <div class="service-block__content">
          {% if block.settings.image != blank %}
            <div class="service-block__image-container">
              {%- assign img_url = block.settings.image | image_url: width: 1500 -%}
              <img 
                srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                  {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                  {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}"
                src="{{ block.settings.image | image_url: width: 535 }}"
                sizes="(min-width: 990px) calc(50vw - 80px), (min-width: 750px) calc(50vw - 30px), calc(100vw - 30px)"
                alt="{{ block.settings.image.alt | escape }}"
                loading="lazy"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                class="service-block__image"
              >
            </div>
          {% endif %}
          
          <div class="service-block__text-container">
            {% if block.settings.title != blank %}
              <h2 class="service-block__title">{{ block.settings.title }}</h2>
            {% endif %}
            
            {% if block.settings.duration != blank or block.settings.price != blank %}
              <div class="service-block__meta">
                {% if block.settings.duration != blank %}{{ block.settings.duration }}{% endif %}
                {% if block.settings.duration != blank and block.settings.price != blank %} | {% endif %}
                {% if block.settings.price != blank %}{{ block.settings.price }}{% endif %}
              </div>
            {% endif %}
            
            {% if block.settings.description != blank %}
              <div class="service-block__description">{{ block.settings.description }}</div>
            {% endif %}
          </div>
        </div>
        
        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          <div class="service-block__button-container">
            <a href="{{ block.settings.button_link }}" class="service-block__button button button--{{ section.settings.button_style }}">
              {{ block.settings.button_label }}
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Service Blocks",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "background-1",
          "label": "Background 1"
        },
        {
          "value": "background-2",
          "label": "Background 2"
        },
        {
          "value": "accent-1",
          "label": "Accent 1"
        },
        {
          "value": "accent-2",
          "label": "Accent 2"
        }
      ],
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary",
          "label": "Primary"
        },
        {
          "value": "secondary",
          "label": "Secondary"
        }
      ],
      "default": "primary",
      "label": "Button style"
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Service title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "duration",
          "label": "Service duration",
          "default": "30-60 Minutes"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Service price",
          "default": "$200"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Add a description for your service here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Book Now",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service Blocks",
      "blocks": [
        {
          "type": "service",
          "settings": {
            "title": "Consultation",
            "duration": "35-60 Minutes",
            "price": "$200",
            "description": "<p>After reviewing your intake form, we'll discover what your personal acne-triggering imbalances are, how to correct them, what products to use and how to use them, that'll clear you ASAP.</p>",
            "button_label": "Book Now"
          }
        },
        {
          "type": "service",
          "settings": {
            "title": "Follow-up check-in call",
            "duration": "30-60 Minutes",
            "price": "$200/hr in half-hour increments",
            "description": "<p>A date with your personal acne expert. A one-on-one face washing tutorial, in-depth diet guidance, or an extended catch-up to figure out what your new breakouts are about. Take your pick or dream up your learning topic of choice! Recommended at least twice post-virtual consult spaced 2 and then 4 weeks apart.</p>",
            "button_label": "Book Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}