{{ 'global-new-theme.css' | asset_url | stylesheet_tag }}

<style>
.service-blocks {
  padding: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px 0 {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  background-color: {{ section.settings.background_color }};
}

@media screen and (min-width: 750px) {
  .service-blocks {
    padding: {{ section.settings.padding_top }}px 0 {{ section.settings.padding_bottom }}px;
  }
}

.service-blocks__container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.service-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-extra-loose) var(--spacing-loose);
  border-width: 1px;
  border-style: solid;
  height: 680px;
  box-sizing: border-box;
}

.service-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: var(--spacing-loose);
  width: 100%;
  max-width: 540px;
}

.service-block__image-container {
  width: 368px;
  height: 130px;
  border-radius: 1000px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  position: relative;
}

.service-block__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  top: -80px;
}

.service-block__text-container {
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.service-block__title {
  font-size: calc(2.4rem * var(--font-heading-scale));
  margin-bottom: 15px;
}

.service-block__meta {
  font-size: calc(1.1rem * var(--font-body-scale));
  margin-bottom: var(--spacing-base);
  text-align: center;
}

.service-block__description {
  font-size: calc(1rem * var(--font-body-scale));
  line-height: 1.5;
  text-align: left;
}

.service-block__button-container {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.service-block__button {
  padding: 14px 20px;
  min-width: 138px;
  min-height: 48px;
  text-align: center;
  display: inline-block;
  border: none;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .service-blocks__container {
    flex-direction: row;
  }
  
  .service-block {
    flex: 1;
    min-width: 0;
  }
}

@media screen and (max-width: 749px) {
  .service-block {
    height: auto;
    padding-bottom: var(--spacing-section);
  }
  
  .service-block__image-container {
    width: 300px;
    height: 110px;
  }
  
  .service-block__content {
    margin-top: 60px;
  }
}
</style>

<div class="service-blocks {% if section.settings.full_width == false %}page-width{% endif %}" {{ section.shopify_attributes }}>
  <div class="service-blocks__container">
    {% for block in section.blocks %}
      {% if forloop.index <= 2 %}
        {% case block.type %}
          {% when 'service' %}
            <div class="service-block" 
                {{ block.shopify_attributes }}
                style="border-color: {{ section.settings.border_color }};">
              <div class="service-block__content">
                {% if block.settings.image != blank %}
                  <div class="service-block__image-container" style="border-color: {{ section.settings.border_color }};">
                    {%- assign img_url = block.settings.image | image_url: width: 1500 -%}
                    <img 
                      srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                        {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                        {%- if block.settings.image.width >= 1070 -%}{{ block.settings.image | image_url: width: 1070 }} 1070w,{%- endif -%}"
                      src="{{ block.settings.image | image_url: width: 535 }}"
                      sizes="(min-width: 990px) calc(50vw - 80px), (min-width: 750px) calc(50vw - 30px), calc(100vw - 30px)"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                      class="service-block__image"
                    >
                  </div>
                {% endif %}
                
                <div class="service-block__text-container">
                  {% if block.settings.title != blank %}
                    <h2 class="service-block__title" style="color: {{ section.settings.title_color }};">{{ block.settings.title }}</h2>
                  {% endif %}
                  
                  {% if block.settings.duration != blank or block.settings.price != blank %}
                    <div class="service-block__meta" style="color: {{ section.settings.meta_color }};">
                      {% if block.settings.duration != blank %}{{ block.settings.duration }}{% endif %}
                      {% if block.settings.duration != blank and block.settings.price != blank %} | {% endif %}
                      {% if block.settings.price != blank %}{{ block.settings.price }}{% endif %}
                    </div>
                  {% endif %}
                  
                  {% if block.settings.description != blank %}
                    <div class="service-block__description" style="color: {{ section.settings.description_color }};">{{ block.settings.description }}</div>
                  {% endif %}
                </div>
              </div>
              
              {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                <div class="service-block__button-container">
                  <a href="{{ block.settings.button_link }}" 
                    class="service-block__button" 
                    style="background-color: {{ section.settings.button_background }}; color: {{ section.settings.button_text_color }};">
                    {{ block.settings.button_label }}
                  </a>
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Service Blocks",
  "tag": "section",
  "class": "section",
  "max_blocks": 2,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "Full width"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#422f23"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color",
      "default": "#9e503c"
    },
    {
      "type": "color",
      "id": "meta_color",
      "label": "Duration/price color",
      "default": "#e0d4c8"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description color",
      "default": "#422f23"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background",
      "default": "#5E6A39"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#EEEBE6"
    },
    {
      "type": "header",
      "content": "Section Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 60
    }
  ],
  "blocks": [
    {
      "type": "service",
      "name": "Service",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Service title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "duration",
          "label": "Service duration",
          "default": "30-60 Minutes"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Service price",
          "default": "$200"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Add a description for your service here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Book Now",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Service Blocks",
      "blocks": [
        {
          "type": "service",
          "settings": {
            "title": "Consultation",
            "duration": "35-60 Minutes",
            "price": "$200",
            "description": "<p>After reviewing your intake form, we'll discover what your personal acne-triggering imbalances are, how to correct them, what products to use and how to use them, that'll clear you ASAP.</p>",
            "button_label": "Book Now"
          }
        },
        {
          "type": "service",
          "settings": {
            "title": "Follow-up check-in call",
            "duration": "30-60 Minutes",
            "price": "$200/hr in half-hour increments",
            "description": "<p>A date with your personal acne expert. A one-on-one face washing tutorial, in-depth diet guidance, or an extended catch-up to figure out what your new breakouts are about. Take your pick or dream up your learning topic of choice! Recommended at least twice post-virtual consult spaced 2 and then 4 weeks apart.</p>",
            "button_label": "Book Now"
          }
        }
      ]
    }
  ]
}
{% endschema %}