{%- assign section_color = section.settings.color_scheme -%}

{%- assign heading = section.settings.heading -%}
{%- assign cta_url = section.settings.cta_url -%}
{%- assign cta_text = section.settings.cta_text -%}
{%- assign feature_image = section.settings.feature_image -%}
{%- assign caption = section.settings.caption -%}

{% capture section_content %}
  <div class="text-overlay-image">
    <div class="flex flex--column lg--up--flex--row">

      <div class="one-whole lg--up--one-half text-overlay-image__left-column">

        <div class="text-overlay-image__container aw-bg--mint">

          {% if heading != blank %}
            <h2 class="f--heading font-size--xxxl f--heading-navy pl2 lg--up--pl3">{{ heading }}</h2>
          {% endif %}

          <div class="flex flex--wrap text-overlay-image__left-column--content">

            {% assign module_count_numbers = "1, 2, 3" | split: ", " %}
            {% for module_count_number in module_count_numbers %}

              {% assign text = 'text%1' | replace:'%1', module_count_number %}
              {% assign text = section.settings[text] %}

              {% assign textarea = 'textarea%1' | replace:'%1', module_count_number %}
              {% assign textarea = section.settings[textarea] %}

              <div class="one-quarter text-align--right pr1 md--up--pr2">
                {% if text != blank %}
                <p class="font-size--ml md--up--font-size--xxl wd--font-size--xxxl headline-blue text-overlay-image__text">
                  {{ text }}
                </p>
                {% endif %}
              </div>

              <div class="three-quarters pl1">
                {% if textarea != blank %}
                  <div class="font-size--s">
                    {{ textarea }}
                  </div>
                {% endif %}
              </div>

            {% endfor %}

          </div>

        </div>


      </div>

      <div class="one-whole lg--up--one-half text-overlay-image__right-column">

        <div class="text-overlay-image__image">
          {% if section.settings.feature_image %}
            {% render 'responsive-image' with
              image: feature_image,
              max_width: 615,
              max_height: 1000,
              section_color: section_color,
            %}
          {% endif %}
        </div>

        <div class="text-overlay-image__caption">

          {% if caption != blank %}
            <div class="richtext font-size__basic mt2">
              {{ caption }}
            </div>
          {% endif %}
        
          {% if cta_url != blank %}
            <a class="mt1 inline-block font-size__basic f--accent aw-btn--text" href="{{ cta_url }}" target="_blank" aria-label="link - new window">
              {{ cta_text }}
            </a>
          {% endif %}
        </div>

      </div>

    </div>
  </div>
    
{% endcapture %}

{%- comment -%}
==================================
Render wrapping Divs
==================================
{%- endcomment -%}
{% render 'aw-section-wrapper' with
    section_custom_padding: section_custom_padding,
    section_bg_color: section_bg_color,
    section_type: "aw-text-overlay-image-section",
    section_id: section.id,
    section_content: section_content
    %}


{% schema %}
{
  "name": "Text Overlay Image",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading goes here"
    },
    {
      "type": "text",
      "id": "text1",
      "label": "Left Column 1"
    },
    {
      "type": "richtext",
      "id": "textarea1",
      "label": "Right Column 1",
      "default": "<p>Text goes here</p>"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Left Column 2"
    },
    {
      "type": "richtext",
      "id": "textarea2",
      "label": "Right Column 2",
      "default": "<p>Text goes here</p>"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Left Column 3"
    },
    {
      "type": "richtext",
      "id": "textarea3",
      "label": "Right Column 3",
      "default": "<p>Text goes here</p>"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text"
    },
    {
      "type": "image_picker",
      "id": "feature_image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "caption",
      "label": "Image Caption",
      "default": "<p>Text goes here</p>"
    },
    {
      "type":      "header",
      "content":   "Colors"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"},
          { "value": "quaternary", "label": "Quaternary"}
       ],
       "default": "quaternary"
    },
    {
      "type": "select",
      "id": "section_bg_color",
      "label": "Background Color",
      "options": [
       { "value": "aw_section_bg_white", "label": "White"},
       { "value": "aw_section_bg_mint", "label": "Mint"},
       { "value": "aw_section_bg_light_gray", "label": "Light Gray"}

      ]
    },
    {
      "type":      "header",
      "content":   "Module Spacing"
    },
    {
      "type": "select",
      "id": "section_custom_padding",
      "label": "Section Custom Padding",
      "options": [
         { "value": "global", "label": "Global Padding Setting"},
         { "value": "smaller", "label": "Smaller"},
         { "value": "larger", "label": "Larger"}
      ],
      "default": "global"
   }
  ],
  "presets": [
    {
      "name": "Text Overlay Image",
      "category": "Image"
    }
  ]
}
{% endschema %}