<section class="page section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width px2 lg--up--px3">
    <div id="RecoverPasswordForm">
      <h2 class="font-size--l m0">Create a password</h2>
      <p class="font-size__basic mt1 mb3">We will send you an email to create your password.</p>
    
    
      {% form 'recover_customer_password' %}
        {{ form.errors | default_errors }}
    
        {% if form.posted_successfully? %}
          <span class="hide reset-password-success"></span>
        {% endif %}
    
        <label class="block" for="RecoverEmail" class="label-hidden">
          {{ 'customer.recover_password.email' | t }}
        </label>
        <input type="email"
               class="block mt1 full--w  px2 py1 bg--transparent border--{{ section_color }}-text"
               name="email"
               id="RecoverEmail"
               placeholder="{{ 'customer.recover_password.email' | t }}"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off">
    
        <input type="submit" class="block full--w btn border--none mt3 px2 py1 bg--{{ section_color }}-text color--{{ section_color }}-text--overlay lg--up--two-thirds aw-btn--tertiary"  value="{{ 'customer.recover_password.submit' | t }}">
    
        <button type="button" id="HideRecoverPasswordLink" class="mt1 border--none bg--transparent font-size--s">
          {{ 'customer.recover_password.cancel' | t }}
        </button>
      {% endform %}
    </div>
  </div>
</section>

